# Required for relational database
POSTGRES_URL=

# Required for auth security
# You can use `openssl rand -base64 32` to generate one
AUTH_SECRET=
AUTH_DISABLE_ANONYMOUS="false" # Disables guest login (default: false)
AUTH_DISABLE_EMAIL="false" # Disables signup by email (default: false)

# Required for cron jobs security
# You can use `openssl rand -base64 32` to generate one
CRON_SECRET=

# Required for Upstash Vector database (used for RAG)
UPSTASH_VECTOR_REST_URL=
UPSTASH_VECTOR_REST_TOKEN=

# Required for Vercel Blob storage (file uploads)
BLOB_READ_WRITE_TOKEN=
BLOB_BASE_URL=

# Required for Vercel APIs (AI Gateway and Vercel Blob)
VERCEL_OIDC_TOKEN=

# Optional configurations for sending system emails using Resend
# If not provided, mailing functionality will be disabled
RESEND_API_KEY=
EMAIL_SENDER_NAME=
EMAIL_SENDER_ADDRESS=

# Optional Hugging Face token (https://huggingface.co/settings/tokens)
# Only needed if you're using Hugging Face models
HUGGING_FACE_API_KEY=
